@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.gallery .gallery_aside img{
    height: auto;
    width: 90%;
    border: 3px solid black;
}
.gallery .gallery_contain img{
    height: auto;
    width: 100%;
    border: 3px solid blue;
}
main {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}
.product {
    display: flex;
    flex-direction: column;
    width: 96vw;
}
.product_number{
    padding: 2% 0 5% 0;
    display: flex;
    justify-content: center;
    color: var(--color-secundary);
    background: var(--color-terceario);
    width: auto;
}
.product_box {
    display: flex;
    /* background: red; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
}
.gallery {
    display: flex;
    flex-direction: row;
    padding: 0 1%;
}
.gallery_aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    
}
.gallery_contain {
    width: 75%;
    display: flex;  
    justify-content: center;
}
.product_box .description{
    display: flex;
    flex-direction: column;
    width: auto;/*cambiar esto a 40% en pantalla*/
    height: auto;
    padding-left: 2%;
    justify-content: space-around;
}
.stars{
    display: flex;
    width: 10rem;
    padding-bottom: 6%;
}
.product_box .description .stars svg{
    width: 100svh;
    color: rgb(245, 233, 122);
}
.product_box .description h1{
    font-size:2.5rem;
    padding-bottom: 1%;
}
.product_box .description p1{
    display: flex;
    font-size:1rem;
    width: 80%;
    color: white;
    padding-bottom: 3%;
}
.description .price{
    color: rgb(6, 172, 6);
    font-size: 1.4rem;
    padding-bottom: 4%;
}
.button_get{
    background-color: green;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    padding: 2%;
    width: 8rem;
    margin-bottom: 5%;
}
.button_get a{
    text-decoration-line: none;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}
.main_img {
}