@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery .gallery_aside img{
    height: auto;
    width: 100px;
    border: 3px solid black;
}
.gallery .gallery_contain img{
    height: auto;
    width: 300px;
    border: 3px solid blue;
}
main {
    background-color: var(--color-primary);
}
.product {
}
.product_number {
}
.product_box {
}

.product_box .visual_imgs svg{
    color: rgb(245, 233, 122);
}

.gallery {
}
.gallery_aside {
}
.gallery_contain {
}
.main_img {
}